# Environment variables declared in this file are automatically made available to Prisma.
# See: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See: https://pris.ly/d/connection-strings

# Copy this file to `.env` and replace USER, PASSWORD, CLUSTER, and DATABASE with your Atlas values.
DATABASE_URL="mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/DATABASE?retryWrites=true&w=majority&appName=Cluster0"
